{:source-paths ["src"]
 :dependencies []
 :builds {:app {:target :node-script
                :output-to "dist/main.js"
                :main architect.main/main!
                :devtools {:after-load architect.main/reload!}}}}
